body {
    background-image: url("https://image.freepik.com/free-photo/sandwich-with-salami-cheese-wooden-plate_106812-138.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
ul {
    list-style: inside;
    text-align: center;
    
}
.menu {
    position: relative;
    margin: 0 auto;
    
}
.types:hover ul li{
    display: block;
}
li {
    display: inline-block;

    width: 100px;
    padding: 0px;
}
.types {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    background: rgb(241, 84, 136);
    width: 200px;
    block-size: 30px;
}
.item{
    display: none;
    position: relative;
    float: left;
    background-color: #2b2e22;
    width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    left: -40px;
    opacity: 0.7;
}
span {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif, bold;
    color: white;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 15px;

}



